.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.full-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 50vw;
  margin-left: 50vh;
  margin-right: 50vh;
}

.card{
  margin: 0px;
  padding: 15px;
}

.card1{
  background-color: hsl(31, 77%, 52%);
border-radius: 8px 0px 0px 8px;
}

.card2{
  background-color: hsl(184, 100%, 22%);
}

.card3{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 8px 8px 0px;    
}

h2{
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  padding-bottom: 10px;
}
img{
  width:50px;
  padding-top: 30px;
  padding-bottom: 5px;
}
p{
  
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}
.buttonstyle{
  
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Lexend Deca', sans-serif;
  color: black;
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  border-color :hsl(0, 0%, 95%);
  padding: 10px;
  justify-content: center;
}
.b1{
  color: hsl(31, 77%, 52%);
}
.b2{
  color: hsl(184, 100%, 22%);
}
.b3{
  color: hsl(179, 100%, 13%);
}

@media (max-width: 625px) {
.full-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 50vw;
  margin-left: 25vw;
  margin-right: 50vh;
}

.card1{
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0px 0px;
}

.card2{
  background-color: hsl(184, 100%, 22%);
}

.card3{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0px 8px 8px;
}
}